*.yaml
*.pyc
*.tar.gz
.vscode/*
*/.ipynb_checkpoints/*
*/__pycache__/*
*.pkl
*egg*
*.pyc
*.pdf
*.png
*Untitled*
*log
*.prof
*.idea/*
*.csv
*.dat
*.npy
*error.txt
*.pt
*.mat
*.zip
*.hdf5
outputs/*
exp_data/*
